<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Anteproyectos</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item *ngFor="let item of this.anteproyectos" [color]="ColorEstado(this.item.estado)">
        <ion-button class="btnsopciones" (click)="selectproyecto(item.id!)" expand="full" [color]="ColorEstado(this.item.estado)">{{item.items[0].texto}}</ion-button>
      </ion-item>
    </ion-list>


  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Nombre usuario</ion-title>
      <!--configuracion, salir, etc-->
        <ion-list class="btn-2">
          <ion-item>
            <ion-icon color="primary" class="icono" name="caret-down">
            <ion-select [(ngModel)]="op" interface="action-sheet" (ionChange)="opciones()">
              <ion-select-option value="config">Configuración</ion-select-option>
              <ion-select-option  value="cerrar">Cerrar sesión</ion-select-option>
            </ion-select>
            </ion-icon>
          </ion-item>
        </ion-list>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item *ngFor="let item of this.anteproyecto.items">
        <ion-input disabled="" label={{item.titulo}} labelPlacement="floating" [(ngModel)]="item.texto" ></ion-input>
      </ion-item>
      <ion-button id="open-modal" expand="full">Comentario</ion-button>
      <ion-button fill="clear" expand="full" (click)="abrirAlerta()">Información del Estudiante</ion-button>
    </ion-list>
  </ion-content>
</div>

  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Comentario</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-label>COMENTARIOS ANTERIORES</ion-label>
        <ion-list>
          <ion-item *ngFor="let item of this.anteproyecto.comentarios">
            <ion-label> {{item}}</ion-label>
          </ion-item>
        </ion-list>
        <ion-item>
          <ion-label position="stacked">Escribe tu comentario aquí</ion-label>
          <ion-textarea type="text" placeholder="Escribe" [(ngModel)]="name"></ion-textarea>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>


<ion-alert
#presentalert
header="Datos del Estudiante"
[buttons]="alertButtons"
[inputs]="alertInputs"
></ion-alert>

<ion-alert
#presentalert2
header="Información de usuario"
[buttons]="alertButtons2"
[inputs]="alertInputs2"
></ion-alert>
