<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Anteproyecto</ion-title>
    <ion-button (click)="abrir()" fill="clear" class="btn-notifiacion position-relative">
      <ion-icon name="notifications"></ion-icon>
    </ion-button>
  <ion-list *ngIf="mostrar">
    <ion-item ></ion-item>
  </ion-list>
<!--configuracion, salir, etc-->
<ion-list class="btn-2">
  <ion-item>
    <ion-icon color="primary" class="icono" name="caret-down">
    <ion-select [(ngModel)]="op" interface="action-sheet" (ionChange)="opciones()">
      <ion-select-option value="config">Configuración</ion-select-option>
      <ion-select-option  value="cerrar">Cerrar sesión</ion-select-option>
    </ion-select>
    </ion-icon>
  </ion-item>
</ion-list>
  </ion-toolbar>
</ion-header>

<ion-content class="list-form" [fullscreen]="true">
  <ion-list class="lista2">
    <ion-item >
      <ion-button expand="full" color="danger">X</ion-button><ion-input  labelPlacement="floating" placeholder="Escribe tu titulo"></ion-input>
    </ion-item>
    <ion-button expand="full" color="success" id="open-modal">Añadir item</ion-button>
    <ion-button expand="full" >Guardar</ion-button>
    <ion-button expand="full" color="danger" >Eliminar items</ion-button>
    <ion-button expand="full" color="warning" >Ayuda</ion-button>
  </ion-list>

  <ion-modal trigger="open-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Item nuevo</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
       <ion-list class="formitems">
        <ion-item>
          <ion-input
            label="Escribe el nombre del item" labelPlacement="stacked" type="text" placeholder="Escribre aquí"
          ></ion-input>
        </ion-item>
      </ion-list>
      <ion-button expand="full" color="success">Añadir</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>


  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Modal</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <div class="partes">
        <h2>Título del Proyecto:</h2>
        <p>Proporciona un nombre descriptivo y conciso que represente el proyecto.</p>

        <h2>Descripción del Proyecto:</h2>
        <p>Brinda una visión general del proyecto, incluyendo su propósito, contexto y relevancia.</p>

        <h2>Objetivos:</h2>
        <p>Define metas específicas y medibles que deseas lograr con el proyecto.</p>

        <h2>Justificación:</h2>
        <p>Explica por qué el proyecto es necesario y cuáles son sus beneficios.</p>

        <h2>Alcance:</h2>
        <p>Establece los límites y las limitaciones del proyecto, qué se incluirá y qué no.</p>

        <h2>Viabilidad:</h2>
        <p>Evalúa si el proyecto es factible desde diferentes perspectivas.</p>

        <h2>Recursos:</h2>
        <p>Menciona los recursos necesarios para el proyecto, como personal, equipo, tecnología y financiamiento.</p>

        <h2>Riesgos:</h2>
        <p>Identifica los riesgos potenciales y propone estrategias de mitigación.</p>

        <h2>Conclusiones:</h2>
        <p>Resumen los aspectos clave del proyecto y recomiendan su viabilidad.</p>
      </div>
      </ion-content>
    </ng-template>
  </ion-modal>


</ion-content>

<ion-alert
trigger="present-alert2"
header="Datos del Estudiante"
[buttons]="alertButtons"
[inputs]="alertInputs"
></ion-alert>
